---
layout: page
title: "About"
description: "Hey, Cboy|CrazyCodeBoy|fengyuzhegnfan|Jia Penghui is me @贾鹏辉."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>搞搞开发，码码代码，做做管理，看看产品。<br>
    编程道路上坑这么多，我带你一起走过。</p></blockquote>

    <p>嘿，我是<strong>贾鹏辉</strong>，Android&iOS架构师 &amp; 技术经理 & 移动端负责人 ，<a href="http://blog.csdn.net/fengyuzhengfan">CSDN</a> 博客专家。
        目前任职于爱会客 · 快速递，负责 移动端团队。</p>

    <p>做过ASP.NET、前端、Java、Android、iOS开发。享受编程、热爱开源、酷爱分享。平时除了写写博客外，也开源些技术干货  ·  <a href="http://github.com/crazycodeboy">Github</a>。</p>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Enjoy coding, <br>
        Enjoy life.</p></blockquote>

    <p>Hi, I am <strong>Penghui Jia(贾鹏辉)</strong>，you can call me <strong>Cboy</strong>.  Android & iOS Architect & Technical Manager & Leader mobile end, <a href="http://blog.csdn.net/fengyuzhengfan">CSDN</a>  blog expert.
        Currently working in the oeffect · ksudi <p>

    <p>Has done ASP.NET, front-end, Java, Android, iOS development.
    Enjoy programming, open source love, love to share. Usually in addition to writing a blog, but also some open source technology dry ·  <a href="http://github.com/crazycodeboy">Github</a>.
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
